<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>

<body>
    <%- include("../partials/nav")  %> 



    <!-- Page Header Start -->
    <div class="container-fluid bg-page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-3  text-uppercase" style="color:#B49C73">Hakkımızda</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Anasayfa</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Hakkımızda</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5">
                    <img class="img-fluid rounded" src="/static/img/justice.jpg" alt="justice">
                </div>
                <div class="col-lg-7 mt-4 mt-lg-0">
                    <h2 class="position-relative text-center bg-white text-primary rounded p-3 mt-4 mb-4 d-none d-lg-block"
                        style="width: 350px; margin-left: -205px;">Hakkımızda</h2>
                    <!-- <h6 class="text-uppercase">Learn About Us</h6> -->
                    <h1 class="mb-4">Topsakal & Boğa Hukuk Bürosu</h1>
                    <p> Avukat Yasemin Topsakal ve Avukat Rıza Baran Boğa tarafından İstanbul’da kurulmuştur. Başta
                        İstanbul olmak üzere Türkiye’nin her yerinde müvekkillerine nitelikli, titiz ve müvekkillerinin
                        çıkarlarını en üst düzeyde gözetecek şekilde hizmet vermektedir.</p>

                    <p class="pt-5"> Topsakal Hukuk Bürosu, bilişim ve internet hukuku, iş ve sosyal güvenlik hukuku, aile hukuku, sağlık hukuku, ceza hukuku,ticaret hukuku, tüketici hukuku, icra/iflas hukuku, fikri ve sınai haklar hukuku başta olmak üzere hukukun her alanında çözüm odaklı avukatlık ve danışmanlık hizmeti vermektedir.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


   

    <!-- Footer Start -->

    <div class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: 90px;">
       



       
        <div class="row p-4 mt-5 mx-0" style="background: rgba(256, 256, 256, .05);">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white"><a href="">&copy;</a> <a class="font-weight-bold" href="#">Topsakal & Boğa
                        Hukuk Bürosu</a>. Tüm hakları saklıdır.</p>
            </div>

        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>