<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head")  %> 
</head>

<body>

    <%- include("../partials/nav",blogs)  %> 



    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3">

                    <h1 class="mb-4">Çalışma Alanlarımız</h1>
                    <p>Topsakal & Boğa Hukuk Bürosu uzman yazılımcı kadrosuyla birlikte başta bilişim hukuku olmak üzere
                        hukukun birçok alanında müvekkillerine hizmet vermektedir. </p>
                    <a href="" class="btn btn-primary mt-2">Detay</a>
                </div>
                <div class="col-lg-9 pt-5 pt-lg-0">
                    <div class="bg-primary rounded" style="height: 200px;"></div>
                    <div class="owl-carousel service-carousel position-relative"
                        style="margin-top: -100px; padding: 0 30px;">
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-globe"></i>
                            </div>
                            <h5 class="mb-4 px-4">BİLİŞİM VE İNTERNET HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu uzman yazılımcı kadrosuyla, müvekkillerine
                                internet yoluyla işlenen suçlar hakkında bilgilendirme, e-ticaretin düzenlenmesi,
                                uyuşmazlıkların çözümü, haksız rekabet davaları ile fikri ve sınai mülkiyet hukuku
                                ihlallerinin çözümü, dijital reklam, sosyal medya, bilgi güvenliği ve gizliliği başta
                                olmak üzere Bilişim ve İnternet Hukuku kapsamına giren konuların çözümünde
                                müvekkillerine destek vermektedir. </p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-stethoscope"></i>
                            </div>
                            <h5 class="mb-4 px-4">SAĞLIK HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, sağlık çalışanlarının tıbbi hatalarından
                                doğacak sorumluluk, hasta ve hekim hakları, özel sağlık kuruluşları yönetimi ve mesleki
                                sorumluluk sigortaları hususunda danışmanlık ve avukatlık hizmeti vermektedir.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-money-bill"></i>
                            </div>
                            <h5 class="mb-4 px-4">ŞİRKETLER VE TİCARET HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, birçok farklı sektörde faaliyet gösteren
                                şirkete hukuki danışmanlık hizmeti sağlamaktadır. Şirketlerin kuruluşu,
                                birleşme/devralma, infisahı gibi işlemlerin yanı sıra genel kurul toplantılarının ve
                                yönetim kurulu kararlarının düzenlenmesi, her türlü ticari sözleşmenin hazırlanması,
                                hisse senedi ve tahvil işlemleri gibi özel nitelikli işlemleri de kapsamaktadır.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-coins"></i>
                            </div>
                            <h5 class="mb-4 px-4">İCRA VE İFLAS HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, müvekkillerine İcra/İflas Hukuku alanında
                                hukuki destek verir. Çek, Bono, Poliçe gibi kambiyo senetleri, fatura, mahkeme ilamı,
                                sözleşme gibi her türlü konudan doğacak alacağın tahsili için başlatılan icra
                                takiplerini uzmanlıkla yürütür.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-lightbulb"></i>
                            </div>
                            <h5 class="mb-4 px-4">FİKRİ VE SINAİ HAKLAR HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, müvekkillerine fikri ve sınai hukuk alanında
                                hukuki destek vermektedir. Fikri ve sınai haklardan doğacak davaların takibini yapar ve
                                koruyucu sözleşmelerin hazırlanmasında müvekkillerine hukuki danışmanlık hizmeti verir.
                            </p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-briefcase"></i>
                            </div>
                            <h5 class="mb-4 px-4">SİGORTA HUKUKU</h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, sigorta sözleşmelerinden doğan uyuşmazlıklarda
                                müvekkillerine avukatlık ve danışmanlık hizmeti sunmaktadır.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-credit-card"></i>
                            </div>
                            <h5 class="mb-4 px-4">TÜKETİCİ HUKUKU</h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, Tüketici Hakem Heyetleri ve Tüketici
                                Mahkemelerinde görülmekte olan her türlü uyuşazlıkta müvekkillerine danışmanlık ve
                                avukatlık hizmeti vermektedir.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-landmark"></i>
                            </div>
                            <h5 class="mb-4 px-4">İDARE HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, müvekkillerine idare hukukundan doğan
                                uyuşmazlıklarda destek vermekte, tam yargı ve iptal davalarında müvekkillerini temsil
                                etmektedir.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-users"></i>
                            </div>
                            <h5 class="mb-4 px-4">AİLE VE KİŞİLER HUKUKU</h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, Kişiler Hukuku, Aile Hukuku, Miras Hukuku ve
                                Eşya Hukuku alanlarında müvekkillerine danışmanlık hizmeti vermekte ve sorunlarını en
                                kısa sürede çözüme ulaştırmaktadır.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-hand-holding-usd"></i>
                            </div>
                            <h5 class="mb-4 px-4">İŞ VE SOSYAL GÜVENLİK HUKUKU </h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, çalışma yaşamında karşılaşılabilecek işçi-işven
                                ve Sosyal Güvenlik Kurumu arasındaki her türlü ihtilafın çözümlenmesi için gerekli
                                hukuki desteği sağlamaktadır.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-gavel"></i>
                            </div>
                            <h5 class="mb-4 px-4">CEZA HUKUKU</h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, ceza hukukunun tüm soruşturma ve kovuşturma
                                safhalarında müvekkillerine danışmanlık ve avukatlık hizmeti vermektedir.</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center bg-white rounded pt-4">
                            <div class="icon-box bg-secondary text-primary mt-2 mb-4">
                                <i class="fa fa-2x fa-building"></i>
                            </div>
                            <h5 class="mb-4 px-4">GAYRİMENKUL HUKUKU</h5>
                            <p class="m-0">Topsakal & Boğa Hukuk Bürosu, tapu iptali ve tesçili davaları, şuf’a
                                davaları, men’i müdahale davaları, ercimisil davaları, muvazaa nedeniyle tapu iptali
                                davaları, geçit hakkı davaları, tespit davaları, İzale-i şuyu davaları (ortaklığın
                                giderilmesi), menkul ya da gayrimenkul kira sözleşmesinden doğan davalar başta olmak
                                üzere taşınmaz hukukundan kaynaklı uyuşmazlıklarda müvekkillerini temsil etmektedir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Adres</h5>
                        <p class="m-0">Altayçeşme Mah. Bolayır Sk.
                            Şebnem Apt. No:1 Daire:2
                            Maltepe/İstanbul</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-envelope-open text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Mail </h5>
                        <p class="m-0">yasemin@topsakalhukuk.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-phone-alt text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Telefon</h5>
                        <p class="m-0">0539 462 71 15</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 d-flex justify-content-center">
            <iframe src="W4GJ+84 Maltepe, İstanbul" width="400" height="300"></iframe>



        </div>
        <div class="row p-4 mt-5 mx-0" style="background: rgba(256, 256, 256, .05);">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white"><a href="">&copy;</a> <a class="font-weight-bold" href="#">Topsakal & Boğa
                        Hukuk Bürosu</a>. Tüm hakları saklıdır.</p>
            </div>

        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/static/mail/jqBootstrapValidation.min.js"></script>
    <script src="/static/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>